<!DOCTYPE html>
{% set lang = 'en' %}
{% include "locales_en.html.twig" %}
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="{{ theme_path("css/application.min.css") }}" />
</head>
<body class="{{ page.body_classes }} {{ lang }}">
  {% include 'header.html' %}

  <h1>Default layout {{ lang }}</h1>
  {% block content %}{% endblock %}

  {% include 'footer.html' %}

  <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js"></script>
  <script src="{{ theme_path("js/application.min.js") }}"></script>
</body>
</html>
