---
layout: locales_en
---

  <h1>Index.html</h1>
  <p>index content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem consequuntur aliquam ullam error itaque voluptatibus est minima, sit praesentium veritatis. <a href="sample-page">Link to sample-page</a></p>
